<form #stdform="ngForm" (ngSubmit)="onStudentAdd()">
    <div class="form-group">
        <label for="fname">First Name</label>
        <input type="text" id="fname" required pattern="^[a-zA-Z ]*$" name="fname" #fname="ngModel" ngModel class="form-control">
        <span class="text-danger" *ngIf="fname.touched && fname.hasError('required')">
            first name is required field
        </span>
        <span class="text-danger" *ngIf="fname.dirty && fname.hasError('pattern')">
            First Name should be valid
        </span>
    </div>
    <div class="form-group">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lname" required pattern="^[a-zA-Z ]*$" #lname="ngModel" ngModel class="form-control">
        <span class="text-danger" *ngIf="lname.touched && lname.hasError('required')">
            Last Name is required field
        </span>
        <span class="text-danger" *ngIf="lname.dirty && lname.hasError('pattern')">
            Last Name should be valid
        </span>
    </div>
    <div class="form-group">
        <label for="contact">Contact</label>
        <input type="text" id="contact" required maxlength="10" pattern="\d{10}" name="contact" #contact="ngModel" ngModel class="form-control">
        <span class="text-danger" *ngIf="contact.touched && contact.hasError('required')">
            Contact is required field
        </span>
        <span class="text-danger" *ngIf="contact.dirty && contact.hasError('pattern')">
            Contact should be valid
        </span>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" required pattern="[A-Za-z0-9\._%+\-]+@[A-Za-z0-9\.\-]+\.[A-Za-z]{2,}" name="email" #email="ngModel" ngModel class="form-control">
        <span class="text-danger" *ngIf="email.touched && email.hasError('required')">
            Email is required field
        </span>
        <span class="text-danger" *ngIf="email.dirty && email.hasError('pattern')">
            Email should be valid
        </span>
    </div>
    <button type="submit" class="btn btn-info">Add Student</button>
</form>
